html {
    overflow-x: hidden;
}

.section1 {
    padding: 30px;
}

.line {
    border: 2px solid rgb(98, 9, 121);
    width: 100px;
}

.line2 {
    border: 2px solid rgb(255, 255, 255);
    width: 100px;
}

.section2 {
    /* border: 1px double rgb(98, 9, 121); */
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: justify;
    color: white;
}

.person {
    background-color: rgb(98, 9, 121);
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
}

.name {
    padding-top: 20px;
}